<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>search_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1738},{208,304}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,142},{208,304}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1738},{302,304}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,142},{302,304}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{302,346}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,140},{302,346}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{302,354}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{302,354}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{302,356}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,136},{302,356}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,358}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,132},{302,358}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{302,354}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,131},{302,354}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,350}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{302,350}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1048},{302,344}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,126},{302,344}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1736},{302,338}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,122},{302,338}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1318},{302,328}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,121},{302,328}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1720},{320,340}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,118},{320,340}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1378},{320,340}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,117},{320,340}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{320,342}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,115},{320,342}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,350},{320,342}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,114},{320,342}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1048},{322,342}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,112},{322,342}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1394},{322,342}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,111},{322,342}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,668},{320,338}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,113},{320,338}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,646},{320,336}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,113},{320,336}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,984},{320,332}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,114},{320,332}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1680},{320,328}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,116},{320,328}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,646},{320,330}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,111},{320,330}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1346},{320,332}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,106},{320,332}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1008},{320,336}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,99},{320,336}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,324},{320,338}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,94},{320,338}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1036},{320,340}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,89},{320,340}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,694},{320,340}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,85},{320,340}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1392},{320,342}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,80},{320,342}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,702},{320,344}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,75},{320,344}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,354},{320,346}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,69},{320,346}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{320,350}}</string>
                <key>offset</key>
                <string>{-10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,62},{320,350}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{320,338}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,70},{320,338}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{320,282}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,119},{320,282}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,346},{320,284}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,107},{320,284}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{320,262}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,120},{320,262}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
            <key>search_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,324},{320,280}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,102},{320,280}}</string>
                <key>sourceSize</key>
                <string>{560,542}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>search_ing.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45f98c796372d930a7630c3145891e0:1/1$</string>
            <key>textureFileName</key>
            <string>search_ing.png</string>
        </dict>
    </dict>
</plist>
