<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,932},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,746},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1862},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1676},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1490},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1304},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1118},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,932},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1862},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1676},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1490},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1304},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1118},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,932},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,746},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1862},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1676},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1490},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1304},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1118},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,932},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,746},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bubble_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{184,184}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3afaad5498d9b30132254853eae291:1/1$</string>
            <key>textureFileName</key>
            <string>bubble.png</string>
        </dict>
    </dict>
</plist>
